body {
    background-color: #0e1425;
    color: #eeb902
}

/*
Color palette for ScholarTrack: 
Navy Blue:        #0e1425
Steel Blue:       #2d7dd2
Yellow Green:     #97cc04
Saffron Yellow:   #eeb902
Persimmon Orange: #f45d01
*/

.main-title-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-page-logo {
    position: absolute;
    left: 23%;
    transform: translateX(-50%);
    height: auto; /* Adjust as needed */
    width: 12%;
}

.main-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.content {
    align-items: center;
    text-align: center;
}

a.one:link {color: #97cc04;}
a.one:visited {color: #97cc04;}

a.two:link {color: #f45d01;}
a.two:visited {color: #f45d01;}

table {
    background-color: #28354d;
    border-collapse: collapse;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    color: #eeb902
}

tr:nth-child(even) {
    background-color: #31405e;
}

th {
    background-color: #1a497a;
    font-weight: bold;
    text-align: center;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.export-button{
    margin-right: 25px;
    float: right;
    border-radius: 5px;
}

.new-task-button{
    margin-left: 15px;
    float: left;
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
}

textarea {
    padding: 10px;
}

.flexbox-div {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}