{% extends 'base.html' %}

{% block head %}
<title>Confirm Deletion</title>
{% endblock %}

{% block body %}

<div class="content">

  <br><br><br>
  <h1>Delete <i>"{{ task.title }}"</i>?</h1>

  <form style="display: inline-block; margin-right: 30px;"
  method="POST" action="{{ url_for('delete_article', id=task.id) }}">
    <button type="submit" class="btn">Confirm Delete</button>
  </form>

  <form style="display: inline-block;" action="{{ url_for('index') }}">
    <button type="submit" class="btn">Cancel</button>
  </form>

</div>

{% endblock %}
