{% extends 'base.html' %}

{% block head %}
<title>Edit Email</title>
{% endblock %}

{% block body %}

<div class="content">
    <br>
    <h2>Edit Email for <i>{{ task.title }}</i></h2>
    <b>Recipient: </b><i>{{ task.email1 }}</i>
    <br><br><br>
    <form method="POST">
        <textarea name="email_content" rows="33" style="width:80%">
            {{ email_content }}
        </textarea>
        <br><br><br>
        <button type="submit">Send Email</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('index') }}">Cancel</a>
    </form>

</div>

{% endblock %}
