{% extends 'base.html' %}

{% block head %}

<title>Edit Task</title>

{% endblock %}

{% block body %}

<div class="content">

    <br><br>

    <h2>Edit Task: <i>"{{ task.title }}"</i></h2>
    <br>
    <form method="POST">

        <div>
            <label>Journal:</label>
            <input type="text" name="journal" maxlength="120" size='30' value="{{ task.journal }}" required>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <label>Collection:</label>
            <select name="collection">
                <option value="Standard of Care" {% if task.collection == 'Standard of Care' %}selected{% endif %}>
                    Standard of Care
                </option>

                <option value="The Brain in the Line of Fire: Neuroprotection and Critical Illness" {% if task.collection == 'The Brain in the Line of Fire: Neuroprotection and Critical Illness' %}selected{% endif %}>
                    The Brain in the Line of Fire: Neuroprotection and Critical Illness
                </option>

                <option value="Physiology in Critical Illness" {% if task.collection == 'Physiology in Critical Illness' %}selected{% endif %}>
                    Physiology in Critical Illness
                </option>

                <option value="Perioperative Care in the Intensive Care Unit" {% if task.collection == 'Perioperative Care in the Intensive Care Unit' %}selected{% endif %}>
                    Perioperative Care in the Intensive Care Unit
                </option>

                <option value="Obesity in the Intensive Care Unit" {% if task.collection == 'Obesity in the Intensive Care Unit' %}selected{% endif %}>
                    Obesity in the Intensive Care Unit
                </option>
            </select>

            <br><br><br>

            <label>Title:</label>
            <input type="text" name="title" maxlength="120" size='66' value="{{ task.title }}" required>

            &nbsp;&nbsp;&nbsp;

            <label>Article Type:</label>
            <select name="type">
                <option value="Review Article" {% if task.type == 'Review Article' %}selected{% endif %}>Review Article</option>
                <option value="Short Editorial" {% if task.type == 'Short Editorial' %}selected{% endif %}>Short Editorial</option>
            </select>

            <br><br><br>

            <label>Author 1:</label>
            <input type="text" name="author1" maxlength="60" size='34' value="{{ task.author1 }}" required>

            &nbsp;&nbsp;&nbsp;

            <label>Email 1:</label>
            <input type="text" name="email1" maxlength="60" size='34' value="{{ task.email1 }}" required>

            <br><br><br>

            <label>Author 2:</label>
            <input type="text" name="author2" maxlength="60" size='34' value="{{ task.author2 }}">

            &nbsp;&nbsp;&nbsp;

            <label>Email 2:</label>
            <input type="text" name="email2" maxlength="60" size='34' value="{{ task.email2 }}">

            <br><br><br>

            <label>Author 3:</label>
            <input type="text" name="author3" maxlength="60" size='34' value="{{ task.author3 }}">

            &nbsp;&nbsp;&nbsp;

            <label>Email 3:</label>
            <input type="text" name="email3" maxlength="60" size='34' value="{{ task.email3 }}">
 
        </div>

        <br><br>

        <!-- starts select status -->
        <label>Change Status:</label>
        <br>
        <select name="new_status">

            <option value="invited (task open)"
            {% if task.status == 'invited (task open)' %}selected{% endif %}>invited (task open)</option>


            <option value="partial accepted (task open)"
            {% if task.status == 'partial accepted (task open)' %}selected{% endif %}>
                partial accepted (task open)
            </option>

            <option value="accepted (task open)"
            {% if task.status == 'accepted (task open)' %}selected{% endif %}>
                accepted (task open)
            </option>

            <option value="done (task closed)"
            {% if task.status == 'done (task closed)' %}selected{% endif %}>
                done (task closed)
            </option>

            <option value="dead (task closed)"
            {% if task.status == 'dead (task closed)' %}selected{% endif %}>
                dead (task closed)
            </option>

        </select>

        <!-- end change status -->

        <br><br><br>

        <!-- flexbox div starts -->
        <div class="flexbox-div">

            <div>
                <label>Date Invited:</label>
                <div>
                    <select name="date_invited_day">
                        {% for day in days %}
                        <option value="{{ day }}" {% if day == date_invited.day %}selected{% endif %}>{{ day }}</option>
                        {% endfor %}
                    </select>
                    <select name="date_invited_month">
                        {% for month in months %}
                        <option value="{{ month }}" {% if month == date_invited.month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select name="date_invited_year">
                        {% for year in invited_years %}
                        <option value="{{ year }}" {% if year == date_invited.year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <br>

            <div>
                <label>Deadline:</label>
                <div>
                    <select name="deadline_day">
                        {% for day in days %}
                        <option value="{{ day }}" {% if day == deadline.day %}selected{% endif %}>{{ day }}</option>
                        {% endfor %}
                    </select>
                    <select name="deadline_month">
                        {% for month in months %}
                        <option value="{{ month }}" {% if month == deadline.month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select name="deadline_year">
                        {% for year in deadline_years %}
                        <option value="{{ year }}" {% if year == deadline.year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!-- flexbox div ends  -->

        <br><br>

        <!-- starts edit notes -->
        <label>
            Edit Notes <br><i>(most recent entry is at the top)</i>
        </label>
        
        <br>

        <textarea name="notes" maxlength="2500" rows="5" style="width:60%">{{ task.notes or '' }}</textarea>

        <!-- edit notes ends -->

        <br><br><br>

        <button type="submit" class="btn">Save Changes</button>
        &nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('index') }}" class="one">Cancel</a>
    </form>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</div>

{% endblock %}

