{% extends 'base.html' %}

{% block head %}
<title>Data Grid</title>
{% endblock %}

{% block body %}

<div class="content">
    <br>
    <h1><i>Martin's Data Grid</i></h1>
    {% if tasks | length < 1 %}
    <h3>The grid is not populated. Please add a csv file.</h3>
    {% else %}

    <a href="{{ url_for('export_excel') }}">
        <button class="right-button">Export Data to Excel file</button>
    </a>
    <br><br>

    <table>
        <thead>
            <tr>
                <th>Action Links</th>
                <th>Journal</th>
                <th>Collection</th>
                <th>Article Type</th>
                <th>Article Title</th>
                <th>Deadline</th>
                <th>Author 1</th>
                <th>Email 1</th>
                <th>Author 2</th>
                <th>Email 2</th>
                <th>Author 3</th>
                <th>Email 3</th>
                <th>Date Invited</th>
                <th>Status</th>
                <th>Date from Latest Change in the Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    <a class='one' href="{{ url_for('edit_email', task_id=task.id) }}">Draft Email</a><br>
                    <a class='two' href="{{ url_for('edit_task', task_id=task.id) }}">Edit Task</a><br>
                    <a class='one' href="{{ url_for('confirm_delete', id=task.id) }}">Delete Row</a>
                </td>
                <td>{{task.journal}}</td>
                <td>{{task.collection}}</td>
                <td>{{task.type}}</td>
                <td>{{task.title}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.author1}}</td>
                <td>{{task.email1}}</td>
                <td>{{task.author2}}</td>
                <td>{{task.email2}}</td>
                <td>{{task.author3}}</td>
                <td>{{task.email3}}</td>
                <td>{{task.date_invited}}</td>
                <td>{{task.status}}</td>
                <td>{{task.last_change_in_notes}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

<!-- table ends  -->

<!-- starts upload a csv file button & export to excel button -->
    <br><br>

        <form style="display: inline-block;" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx" required>
            <button type="submit">Upload Excel file</button>
        </form>

</div>
<br><br><br>

{% endblock %}
