{% extends 'base.html' %}

{% block head %}
<title>SEUM | ScholarTrack</title>
{% endblock %}

{% block body %}

<div class="content">
    <div class="main-title-container">
        <img src="static/scholar_track.png" alt="Scholar Track" class="main-page-logo">
        <div class="main-title"><h1><i>ScholarTrack Editorial Update Management</i></h1></div>
    </div>

    <br>
    {% if tasks | length < 1 %}
    <h2>The grid is not populated.</h2>
    <h3>Please add a new task manually:</h3>

        <a href="{{ url_for('new_task') }}">
            <button class="btn">
                + Add New Task
            </button>
        </a>

    <h3>Or upload an xlsx file:</h3>

    {% else %}

    <a href="{{ url_for('new_task') }}">
        <button class="new-task-button">
            + Add New Task
        </button>
    </a>
    
    &nbsp;&nbsp;&nbsp;

    <a href="{{ url_for('export_excel') }}">
        <button class="export-button">Export Data to Excel file</button>
    </a>
    <br><br>

    <table>
        <thead>
            <tr>
                <th>Action Links</th>
                <th>Journal</th>
                <th>Collection</th>
                <th>Article Type</th>
                <th>Article Title</th>
                <th>Deadline</th>
                <th>Author 1</th>
                <th>Email 1</th>
                <th>Author 2</th>
                <th>Email 2</th>
                <th>Author 3</th>
                <th>Email 3</th>
                <th>Date Invited</th>
                <th>Status</th>
                <th>Date of Latest<br>Change in<br>the Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    <a class='one' href="{{ url_for('edit_email', task_id=task.id) }}">Draft Email</a><br>
                    <a class='two' href="{{ url_for('edit_task', task_id=task.id) }}">Edit Task</a><br>
                    <a class='one' href="{{ url_for('confirm_delete', id=task.id) }}">Delete Row</a><br>
                    <a class='two' href="{{ url_for('follow_up', task_id=task.id) }}">Send Reminder</a>
                </td>
                <td>{{task.journal}}</td>
                <td>{{task.collection}}</td>
                <td>{{task.type}}</td>
                <td>{{task.title}}</td>
                <td>{{task.deadline.strftime('%d/%m/%y')}}</td>
                <td>{{task.author1}}</td>
                <td>{{task.email1}}</td>
                <td>{{task.author2}}</td>
                <td>{{task.email2}}</td>
                <td>{{task.author3}}</td>
                <td>{{task.email3}}</td>
                <td>{{task.date_invited.strftime('%d/%m/%y')}}</td>
                <td>{{task.status}}</td>
                <td>{{task.last_change_in_notes.strftime('%d/%m/%y')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    {% endif %}
<!-- table ends  -->

<!-- starts upload an excel xlsx file button -->
        <form style="display: inline-block;" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx" required>
            <button type="submit" class="btn">Upload Excel XLSX file</button>
        </form>

</div>
<br><br><br>

{% endblock %}
