{% extends 'base.html' %}

{% block head %}
<title>Select Email Template</title>
{% endblock %}


{% block body %}

<br>

<div class="content">

    <h2>Select Email Template for <i>{{ task.title }}</i></h2>

                <a class="one" href="{{ url_for('edit_email', task_id=task.id, template_name='template1') }}">
                Template 1
                </a>

                <br><br>

                <a class="one" href="{{ url_for('edit_email', task_id=task.id, template_name='template2') }}">
                Template 2
                </a>

                <br><br><br>

    <a class="one" href="{{ url_for('index') }}">Cancel</a>

</div>

{% endblock %}
